## 데이터 조회하기

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

data=pd.read_csv('D:\Machine Learning\ADP-master\data/bikeshare.csv')

In [2]:
data.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 0:00,A,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 1:00,A,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 2:00,A,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 3:00,A,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 4:00,A,0,0,1,9.84,14.395,75,0.0,0,1,1

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  object
 1   season      10886 non-null  object
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   casual      10886 non-null  int64
 10  registered  10886 non-null  int64
 11  count       10886 non-null  int64
dtypes: float64(3), int64(7), object(2)
memory usage: 1020.7+ KB

In [4]:
data.columns

Index(['datetime', 'season', 'holiday', 'workingday', 'weather', 'temp',
       'atemp', 'humidity', 'windspeed', 'casual', 'registered', 'count'],
      dtype='object')

In [5]:
data.describe()

,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
count,10886.000000,10886.000000,10886.000000,10886.00000,10886.000000,10886.000000,10886.000000,10886.000000,10886.000000,10886.000000
mean,0.028569,0.680875,1.418427,20.23086,23.655084,61.886460,12.799395,36.021955,155.552177,191.574132
std,0.166599,0.466159,0.633839,7.79159,8.474601,19.245033,8.164537,49.960477,151.039033,181.144454
min,0.000000,0.000000,1.000000,0.82000,0.760000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,0.000000,0.000000,1.000000,13.94000,16.665000,47.000000,7.001500,4.000000,36.000000,42.000000
50%,0.000000,1.000000,1.000000,20.50000,24.240000,62.000000,12.998000,17.000000,118.000000,145.000000
75%,0.000000,1.000000,2.000000,26.24000,31.060000,77.000000,16.997900,49.000000,222.000000,284.000000
max,1.000000,1.000000,4.000000,41.00000,45.455000,100.000000,56.996900,367.000000,886.000000,977.000000

In [6]:
col_id = []
col_dt = ['datetime']
col_cat = ['season']
col_int = ['weather', 'humidity','casual','registered','count']
col_float = ['temp','atemp','windspeed']
col_bool = ['holiday','workingday']
col_num = col_int + col_float

In [7]:
data['datetime'] = pd.to_datetime(data['datetime'])
data[col_cat]= data[col_cat].astype('str')
data[col_int] = data[col_int].astype('int', errors='ignore')
data[col_float] = data[col_float].astype('float')

## 기술통계 조회하기

In [8]:
def DA(data):
    da = data.describe(percentiles=[0.05, 0.1, 0.25, 0.5, 0.75, 0.9, 0.95])
    da = da.T
    df1 = data.isna().sum() # 결측값
    df1.name = 'missing'
    df2 = data.median() # 중앙값
    df2.name = 'median'
    df3 = np.var(data) # 분산
    df3.name = 'variance'
    df4 = data.skew() # 왜도
    df4.name = 'skewness'
    df5 = data.kurtosis() # 첨도
    df5.name = 'kurtosis'
    da = pd.concat([da,df1,df2,df3,df4,df5], axis=1) # 모두 합침
    da['total'] = da['count'] + da['missing'] # 전체 데이터 수
    col_nm = da.columns.tolist()
    order = ['total','count','missing','mean','median','std','variance','skewness','kurtosis','min',
             '5%','10%','25%','50%','75%','90%','95%','max']
    col_nm_new=[]
    for i in order:
        col_nm_new.append(i)
    da = da[col_nm_new]
    da = da.round(2) 
    return da

DA(data[col_num])

,total,count,missing,mean,median,std,variance,skewness,kurtosis,min,5%,10%,25%,50%,75%,90%,95%,max
weather,10886.0,10886.0,0,1.42,1.00,0.63,0.40,1.24,0.40,1.00,1.00,1.00,1.00,1.00,2.00,2.00,3.00,4.00
humidity,10886.0,10886.0,0,61.89,62.00,19.25,370.34,-0.09,-0.76,0.00,31.00,37.00,47.00,62.00,77.00,88.00,93.00,100.00
casual,10886.0,10886.0,0,36.02,17.00,49.96,2495.82,2.50,7.55,0.00,0.00,1.00,4.00,17.00,49.00,94.00,141.00,367.00
registered,10886.0,10886.0,0,155.55,118.00,151.04,22810.69,1.52,2.63,0.00,4.00,7.00,36.00,118.00,222.00,354.00,464.00,886.00
count,10886.0,10886.0,0,191.57,145.00,181.14,32810.30,1.24,1.30,1.00,5.00,9.00,42.00,145.00,284.00,452.00,563.75,977.00
temp,10886.0,10886.0,0,20.23,20.50,7.79,60.70,0.00,-0.91,0.82,8.20,9.84,13.94,20.50,26.24,30.34,32.80,41.00
atemp,10886.0,10886.0,0,23.66,24.24,8.47,71.81,-0.10,-0.85,0.76,9.85,12.12,16.66,24.24,31.06,34.09,36.36,45.46
windspeed,10886.0,10886.0,0,12.80,13.00,8.16,66.65,0.59,0.63,0.00,0.00,0.00,7.00,13.00,17.00,24.00,28.00,57.00

In [9]:
def DA_cat(data, col_cat):
    DA_cat = pd.DataFrame()
    for i in col_cat:
        a = data[i].value_counts(dropna=False).to_frame().sort_index().rename(columns={i:'count'}).reset_index()
        a['col_nm'] = i
        a = a.rename(columns = {'index':'class'})
        a = a[['col_nm','class','count']]
        b=data[i].value_counts(dropna = False, normalize = True).to_frame().sort_index().rename(
        columns = {i:'ratio'}).reset_index()
        b = b['ratio'].to_frame()
        b['ratio'] = b['ratio'].round(2)
        c = pd.concat([a,b], axis = 1)
        DA_cat = pd.concat([DA_cat, c], axis=0)
    DA_cat = DA_cat.reset_index(drop=True)
    return DA_cat

DA2 = DA_cat(data,col_cat+col_bool)
DA2

       col_nm class  count  ratio
0      season     A   2686   0.25
1      season     B   2733   0.25
2      season     C   2733   0.25
3      season     D   2734   0.25
4     holiday     0  10575   0.97
5     holiday     1    311   0.03
6  workingday     0   3474   0.32
7  workingday     1   7412   0.68

## 데이터 전처리

### 중복값 확인

In [10]:
data[data.duplicated(keep=False)]

Empty DataFrame
Columns: [datetime, season, holiday, workingday, weather, temp, atemp, humidity, windspeed, casual, registered, count]
Index: []

중복값이 하나도 없으므로 pass
- df.drop_duplicates() : 행 내용이 동일한 경우 제거
- df.drop_duplicates(['col1'], keep='last') : col1기준 중복값중 마지막만 남겨둠

### 결측치 확인

In [11]:
data.isna().sum()

datetime      0
season        0
holiday       0
workingday    0
weather       0
temp          0
atemp         0
humidity      0
windspeed     0
casual        0
registered    0
count         0
dtype: int64

결측치 하나도 없음
- data.fillna(0) : na를 0으로 채우기
- data['new_reports']=df['new_reports'].fillna(df['new_reports'].mean()) #결측값을 평균값으로 대체

### 이상치 처리

In [12]:
q1=data['humidity'].quantile(.25) ; q3=data['humidity'].quantile(.75)
iqr=q3-q1
min_iqr=q1-1.5*iqr ; max_iqr=q3+1.5*iqr
min_from_all=data['humidity'].min()
max_from_all=data['humidity'].max()
if(min_iqr<min_from_all):
    min_iqr=min_from_all
if(max_iqr>max_from_all):
    max_iqr=max_from_all
data[(data['humidity']<min_iqr) | (data['humidity']>max_iqr)]

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
1091,2011-03-10 00:00:00,A,0,1,3,13.94,15.910,0,16.9979,3,0,3
1092,2011-03-10 01:00:00,A,0,1,3,13.94,15.910,0,16.9979,0,2,2
1093,2011-03-10 02:00:00,A,0,1,3,13.94,15.910,0,16.9979,0,1,1
1094,2011-03-10 05:00:00,A,0,1,3,14.76,17.425,0,12.9980,1,2,3
1095,2011-03-10 06:00:00,A,0,1,3,14.76,16.665,0,22.0028,0,12,12
1096,2011-03-10 07:00:00,A,0,1,3,15.58,19.695,0,15.0013,1,36,37
1097,2011-03-10 08:00:00,A,0,1,3,15.58,19.695,0,19.0012,1,43,44
1098,2011-03-10 09:00:00,A,0,1,3,16.40,20.455,0,15.0013,1,23,24
1099,2011-03-10 10:00:00,A,0,1,3,16.40,20.455,0,11.0014,0,17,17
1100,2011-03-10 11:00:00,A,0,1,3,16.40,20.455,0,16.9979,6,5,11
1101,2011-03-10 12:00:00,A,0,1,3,17.22,21.210,0,15.0013,4,30,34
1102,2011-03-10 13:00:00,A,0,1,3,17.22,21.210,0,15.0013,1,11,12
1103,2011-03-10 14:00:00,A,0,1,3,18.04,21.970,0,19.9995,0,12,12
1104,2011-03-10 15:00:00,A,0,1,3,18.04,21.970,0,15.0013,3,11,14
1105,2011-03-10 16:00:00,A,0,1,3,17.22,21.210,0,16.9979,1,20,21
1106,2011-03-10 17:00:00,A,0,1,2,18.04,21.970,0,26.0027,2,109,111
1107,2011-03-10 18:00:00,A,0,1,3,18.04,21.970,0,23.9994,2,80,82
1108,2011-03-10 19:00:00,A,0,1,3,18.04,21.970,0,39.0007,5,51,56
1109,2011-03-10 20:00:00,A,0,1,3,14.76,16.665,0,22.0028,9,29,38
1110,2011-03-10 21:00:00,A,0,1,3,14.76,17.425,0,15.0013,1,27,28
1111,2011-03-10 22:00:00,A,0,1,2,13.94,16.665,0,8.9981,4,30,34
1112,2011-03-10 23:00:00,A,0,1,3,13.94,17.425,0,6.0032,1,26,27

In [13]:
data.loc[(data['humidity']<min_iqr), 'humidity']=min_iqr #이상치 보정: 하한치로 보정
data.loc[(data['humidity']>max_iqr), 'humidity']=max_iqr #이상치 보정: 상한치로 보정
data.head(-3)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,A,0,0,1,9.84,14.395,81.0,0.0000,3,13,16
1,2011-01-01 01:00:00,A,0,0,1,9.02,13.635,80.0,0.0000,8,32,40
2,2011-01-01 02:00:00,A,0,0,1,9.02,13.635,80.0,0.0000,5,27,32
3,2011-01-01 03:00:00,A,0,0,1,9.84,14.395,75.0,0.0000,3,10,13
4,2011-01-01 04:00:00,A,0,0,1,9.84,14.395,75.0,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
10878,2012-12-19 16:00:00,D,0,1,1,17.22,21.210,50.0,23.9994,37,297,334
10879,2012-12-19 17:00:00,D,0,1,1,16.40,20.455,50.0,26.0027,26,536,562
10880,2012-12-19 18:00:00,D,0,1,1,15.58,19.695,50.0,23.9994,23,546,569
10881,2012-12-19 19:00:00,D,0,1,1,15.58,19.695,50.0,26.0027,7,329,336
10882,2012-12-19 20:00:00,D,0,1,1,14.76,17.425,57.0,15.0013,10,231,241

### 날짜데이터 처리

In [14]:
def dataPreprocessing(df2):
    df=df2.copy()
    df['datetime']=pd.to_datetime(df['datetime'])
    df['year']=df['datetime'].dt.year
    df['month']=df['datetime'].dt.month
    df['day']=df['datetime'].dt.day
    df['weekend']=df['datetime'].dt.weekday
    df['hour']=df['datetime'].dt.hour
    df['minute']=df['datetime'].dt.minute
    return df

pre_data=dataPreprocessing(data).drop(['datetime'], axis=1)
pre_data.head(3)

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month,day,weekend,hour,minute
0,A,0,0,1,9.84,14.395,81.0,0.0,3,13,16,2011,1,1,5,0,0
1,A,0,0,1,9.02,13.635,80.0,0.0,8,32,40,2011,1,1,5,1,0
2,A,0,0,1,9.02,13.635,80.0,0.0,5,27,32,2011,1,1,5,2,0

### 범주형 변수 더미화

In [15]:
pre_data_1=pre_data.copy()
data_dum=pd.get_dummies(pre_data_1)
data_dum.head(10)

,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month,day,weekend,hour,minute,season_A,season_B,season_C,season_D
0,0,0,1,9.84,14.395,81.0,0.0000,3,13,16,2011,1,1,5,0,0,1,0,0,0
1,0,0,1,9.02,13.635,80.0,0.0000,8,32,40,2011,1,1,5,1,0,1,0,0,0
2,0,0,1,9.02,13.635,80.0,0.0000,5,27,32,2011,1,1,5,2,0,1,0,0,0
3,0,0,1,9.84,14.395,75.0,0.0000,3,10,13,2011,1,1,5,3,0,1,0,0,0
4,0,0,1,9.84,14.395,75.0,0.0000,0,1,1,2011,1,1,5,4,0,1,0,0,0
5,0,0,2,9.84,12.880,75.0,6.0032,0,1,1,2011,1,1,5,5,0,1,0,0,0
6,0,0,1,9.02,13.635,80.0,0.0000,2,0,2,2011,1,1,5,6,0,1,0,0,0
7,0,0,1,8.20,12.880,86.0,0.0000,1,2,3,2011,1,1,5,7,0,1,0,0,0
8,0,0,1,9.84,14.395,75.0,0.0000,1,7,8,2011,1,1,5,8,0,1,0,0,0
9,0,0,1,13.12,17.425,76.0,0.0000,8,6,14,2011,1,1,5,9,0,1,0,0,0

### 종속변수 전처리(이항형태로 변환 / 4개 클래스로 변환)

In [16]:
data_dum.loc[data_dum['count']<=150, 'y']=0
data_dum.loc[(data_dum['count']>150) & (data_dum['count']<=300), 'y']=1
data_dum.loc[(data_dum['count']>300) & (data_dum['count']<=450), 'y']=2
data_dum.loc[data_dum['count']>450, 'y']=3

In [17]:
data_dum

,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,...,month,day,weekend,hour,minute,season_A,season_B,season_C,season_D,y
0,0,0,1,9.84,14.395,81.0,0.0000,3,13,16,...,1,1,5,0,0,1,0,0,0,0.0
1,0,0,1,9.02,13.635,80.0,0.0000,8,32,40,...,1,1,5,1,0,1,0,0,0,0.0
2,0,0,1,9.02,13.635,80.0,0.0000,5,27,32,...,1,1,5,2,0,1,0,0,0,0.0
3,0,0,1,9.84,14.395,75.0,0.0000,3,10,13,...,1,1,5,3,0,1,0,0,0,0.0
4,0,0,1,9.84,14.395,75.0,0.0000,0,1,1,...,1,1,5,4,0,1,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10881,0,1,1,15.58,19.695,50.0,26.0027,7,329,336,...,12,19,2,19,0,0,0,0,1,2.0
10882,0,1,1,14.76,17.425,57.0,15.0013,10,231,241,...,12,19,2,20,0,0,0,0,1,1.0
10883,0,1,1,13.94,15.910,61.0,15.0013,4,164,168,...,12,19,2,21,0,0,0,0,1,1.0
10884,0,1,1,13.94,17.425,61.0,6.0032,12,117,129,...,12,19,2,22,0,0,0,0,1,0.0
10885,0,1,1,13.12,16.665,66.0,8.9981,4,84,88,...,12,19,2,23,0,0,0,0,1,0.0

## 데이터 쪼개기

In [18]:
X=data_dum.drop(['y', 'count'],axis=1, inplace=False)
Y=data_dum['y']

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X, Y, test_size=0.3, random_state=0)

## 데이터 스케일링

### StandardScale

In [20]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit(X_train)
X_train_scale=scaler.transform(X_train)
X_test_scale=scaler.transform(X_test)

#컬럼명 붙여주기
X_train_scale=pd.DataFrame(X_train_scale, columns=X_train.columns)
X_test_scale=pd.DataFrame(X_test_scale, columns=X_test.columns)

In [21]:
X_train

,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,year,month,day,weekend,hour,minute,season_A,season_B,season_C,season_D
8620,0,1,1,32.80,37.120,52.0,11.0014,59,221,2012,8,1,2,13,0,0,0,1,0
8985,0,1,1,32.80,35.605,36.0,0.0000,109,723,2012,8,16,3,18,0,0,0,1,0
6171,0,1,1,4.92,6.820,50.0,12.9980,7,198,2012,2,13,0,9,0,1,0,0,0
6473,0,1,1,11.48,13.635,61.0,15.0013,3,51,2012,3,6,1,23,0,1,0,0,0
10877,0,1,1,17.22,21.210,50.0,19.0012,28,209,2012,12,19,2,15,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4859,0,1,3,22.14,25.760,60.0,15.0013,21,132,2011,11,15,1,13,0,0,0,0,1
3264,0,1,1,28.70,32.575,65.0,15.0013,51,137,2011,8,5,4,22,0,0,0,1,0
9845,0,0,1,27.06,31.060,39.0,27.9993,249,368,2012,10,14,6,14,0,0,0,0,1
10799,0,0,2,14.76,17.425,87.0,8.9981,19,113,2012,12,16,6,9,0,0,0,0,1
2732,0,0,1,33.62,35.605,30.0,19.0012,193,190,2011,7,2,5,18,0,0,0,1,0

### 오버샘플링 수행

In [22]:
y_train.value_counts()

0.0    3962
1.0    1937
2.0     957
3.0     764
Name: y, dtype: int64

y_train 데이터가 불균형하여 오버샘플링을 수행하여야 하지만, 빅데이터분석기사 시험에서는 SMOTE를 지원하지 않으므로 pass

## 모델링

In [23]:
from sklearn.linear_model import LogisticRegression #로지스틱회귀
from sklearn.neighbors import KNeighborsClassifier #KNN
from sklearn.tree import DecisionTreeClassifier #의사결정트리
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis #LDA
from sklearn.naive_bayes import GaussianNB #가우시안NB
from sklearn.ensemble import VotingClassifier, RandomForestClassifier, GradientBoostingClassifier #보팅, 랜덤포레스트, GBM
from xgboost import XGBClassifier #XGB
from sklearn.neural_network import MLPClassifier #MLP
from sklearn.svm import SVC #SVM

lr_clf=LogisticRegression()
knn_clf=KNeighborsClassifier(n_neighbors=8)
dt_clf=DecisionTreeClassifier(random_state=156)
lda_clf=LinearDiscriminantAnalysis(n_components=2)
gnb_clf=GaussianNB()
vo_clf=VotingClassifier(estimators=[('LR', lr_clf), ('KNN', knn_clf)], voting='soft')
rf_clf=RandomForestClassifier(random_state=0, n_jobs=-1)
gb_clf=GradientBoostingClassifier(random_state=0)
xgb_clf=XGBClassifier(n_estimators=400, learning_rate=0.1, max_depth=3)
mlp_clf=MLPClassifier(random_state=1, max_iter=300)
svc_clf=SVC(kernel='rbf')

lr_clf.fit(X_train, y_train)
knn_clf.fit(X_train, y_train)
dt_clf.fit(X_train, y_train)
lda_clf.fit(X_train, y_train)
gnb_clf.fit(X_train, y_train)
vo_clf.fit(X_train, y_train)
rf_clf.fit(X_train, y_train)
gb_clf.fit(X_train, y_train)
xgb_clf.fit(X_train, y_train, early_stopping_rounds=100, eval_metric='auc', eval_set=[(X_test, y_test)], verbose=False)
mlp_clf.fit(X_train, y_train)
svc_clf.fit(X_train, y_train)

lr_pred=lr_clf.predict(X_test)
knn_pred=knn_clf.predict(X_test)
dt_pred=dt_clf.predict(X_test)
lda_pred=lda_clf.predict(X_test)
gnb_pred=gnb_clf.predict(X_test)
vo_pred=vo_clf.predict(X_test)
rf_pred=rf_clf.predict(X_test)
gb_pred=gb_clf.predict(X_test)
xgb_pred=xgb_clf.predict(X_test)
mlp_pred=mlp_clf.predict(X_test)
svc_pred=svc_clf.predict(X_test)

C:\Users\choidi\anaconda3\envs\Gisa\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\choidi\anaconda3\envs\Gisa\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\choidi\anaconda3\envs\Gisa\lib\site-packages\xgboost\sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

In [24]:
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score, f1_score
from sklearn.metrics import roc_auc_score, roc_curve, auc, classification_report

print('LogisticRegression 분류기 정확도:', accuracy_score(y_test,lr_pred))
print('KNN 분류기 정확도:', accuracy_score(y_test, knn_pred))
print('Decision Tree 분류기 정확도:', accuracy_score (y_test, dt_pred))
print('LDA 분류기 정확도:', accuracy_score (y_test, lda_pred))
print('GaussianNB 분류기 정확도:', accuracy_score (y_test, gnb_pred))
print('Voting 분류기 정확도:', accuracy_score (y_test, vo_pred))
print('Random Forest 분류기 정확도:', accuracy_score (y_test, rf_pred))
print('Gradient Boosting 분류기 정확도:', accuracy_score (y_test, gb_pred))
print('XGB 분류기 정확도:', accuracy_score(y_test, xgb_pred))
print('MLP 분류기 정확도:', accuracy_score(y_test, mlp_pred))
print('SVM 분류기 정확도:', accuracy_score(y_test, svc_pred))

LogisticRegression 분류기 정확도: 0.9954072259644825
KNN 분류기 정확도: 0.981322718922229
Decision Tree 분류기 정확도: 0.984996938150643
LDA 분류기 정확도: 0.9525413349663197
GaussianNB 분류기 정확도: 0.9148805878750765
Voting 분류기 정확도: 0.9932639314145744
Random Forest 분류기 정확도: 0.977342314758114
Gradient Boosting 분류기 정확도: 0.9856093080220453
XGB 분류기 정확도: 0.9856093080220453
MLP 분류기 정확도: 0.9500918554807104
SVM 분류기 정확도: 0.9589712186160441

## cross_val_score

In [ ]:
scores_lr=cross_val_score(lr_clf, X, Y, scoring='roc_auc', cv=3)
scores_knn=cross_val_score(knn_clf, X, Y, scoring='roc_auc', cv=3)
scores_dt=cross_val_score(dt_clf, X, Y, scoring='roc_auc', cv=3)
scores_lda=cross_val_score(lda_clf, X, Y, scoring='roc_auc', cv=3)
scores_gnb=cross_val_score(gnb_clf, X, Y, scoring='roc_auc', cv=3)
scores_vo=cross_val_score(vo_clf, X, Y, scoring='roc_auc', cv=3)
scores_rf=cross_val_score(rf_clf, X, Y, scoring='roc_auc', cv=3)
scores_gb=cross_val_score(gb_clf, X, Y, scoring='roc_auc', cv=3)
scores_xgb=cross_val_score(xgb_clf, X, Y, scoring='roc_auc', cv=3)
scores_mlp=cross_val_score(mlp_clf, X, Y, scoring='roc_auc', cv=3)


print('cross_LogisticRegression 분류기 정확도:', np.round(np.mean(scores_lr),4))
print('corss_KNN 분류기 정확도:', np.round(np.mean(scores_knn),4))
print('cross_Decision Tree 분류기 정확도:', np.round(np.mean(scores_dt),4))
print('LDA 분류기 정확도:', np.round(np.mean(scores_lda),4))
print('GaussianNB 분류기 정확도:', np.round(np.mean(scores_gnb),4))
print('cross_Voting 분류기 정확도:', np.round(np.mean(scores_vo),4))
print('cross_Random Forest 분류기 정확도:', np.round(np.mean(scores_rf),4))
print('cross_Gradient Boosting 분류기 정확도:', np.round(np.mean(scores_gb),4))
print('cross_XGB 분류기 정확도:', np.round(np.mean(scores_xgb),4))
print('MLP 분류기 정확도:', np.round(np.mean(scores_mlp),4))

위에 코드들이 오류가 나서 실행 안함 (ㅠㅠ)

## GridSearchCV

In [25]:
from sklearn.model_selection import GridSearchCV
rf_params={'n_estimators':[100], 'max_depth': [6,8,10,12], 'min_samples_leaf':[8,12,18], 'min_samples_split':[8,16,20]}
gb_params={'n_estimators':[100,500], 'learning_rate' : [0.05, 0.1]}

In [26]:
grid_rf_clf=GridSearchCV(rf_clf, param_grid=rf_params, scoring='roc_auc', cv=2, n_jobs=-1)
grid_gb_clf=GridSearchCV(gb_clf, param_grid=gb_params, scoring='roc_auc', cv=2, verbose=1)
grid_rf_clf.fit(X_train,y_train)
grid_gb_clf.fit(X_train,y_train)
best_rf_clf=grid_rf_clf.best_estimator_
best_gb_clf=grid_gb_clf.best_estimator_

C:\Users\choidi\anaconda3\envs\Gisa\lib\site-packages\sklearn\model_selection\_search.py:922: UserWarning: One or more of the test scores are non-finite: [nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan]
  warnings.warn(

Fitting 2 folds for each of 4 candidates, totalling 8 fits

C:\Users\choidi\anaconda3\envs\Gisa\lib\site-packages\sklearn\model_selection\_validation.py:696: UserWarning: Scoring failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "C:\Users\choidi\anaconda3\envs\Gisa\lib\site-packages\sklearn\model_selection\_validation.py", line 687, in _score
    scores = scorer(estimator, X_test, y_test)
  File "C:\Users\choidi\anaconda3\envs\Gisa\lib\site-packages\sklearn\metrics\_scorer.py", line 199, in __call__
    return self._score(partial(_cached_call, None), estimator, X, y_true,
  File "C:\Users\choidi\anaconda3\envs\Gisa\lib\site-packages\sklearn\metrics\_scorer.py", line 328, in _score
    raise ValueError("{0} format is not supported".format(y_type))
ValueError: multiclass format is not supported

  warnings.warn(
C:\Users\choidi\anaconda3\envs\Gisa\lib\site-packages\sklearn\model_selection\_validation.py:696: UserWarning: Scoring failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "C:\Users\choidi\anaconda3\envs\Gisa\lib\site-packages\sklearn\model_selection\_validation.py", line 687, in _score
    scores = scorer(estimator, X_test, y_test)
  File "C:\Users\choidi\anaconda3\envs\Gisa\lib\site-packages\sklearn\metrics\_scorer.py", line 199, in __call__
    return self._score(partial(_cached_call, None), estimator, X, y_true,
  File "C:\Users\choidi\anaconda3\envs\Gisa\lib\site-packages\sklearn\metrics\_scorer.py", line 328, in _score
    raise ValueError("{0} format is not supported".format(y_type))
ValueError: multiclass format is not supported

  warnings.warn(
C:\Users\choidi\anaconda3\envs\Gisa\lib\site-packages\sklearn\model_selection\_validation.py:696: UserWarning: Scoring failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "C:\Users\choidi\anaconda3\envs\Gisa\lib\site-packages\sklearn\model_selection\_validation.py", line 687, in _score
    scores = scorer(estimator, X_test, y_test)
  File "C:\Users\choidi\anaconda3\envs\Gisa\lib\site-packages\sklearn\metrics\_scorer.py", line 199, in __call__
    return self._score(partial(_cached_call, None), estimator, X, y_true,
  File "C:\Users\choidi\anaconda3\envs\Gisa\lib\site-packages\sklearn\metrics\_scorer.py", line 328, in _score
    raise ValueError("{0} format is not supported".format(y_type))
ValueError: multiclass format is not supported

  warnings.warn(
C:\Users\choidi\anaconda3\envs\Gisa\lib\site-packages\sklearn\model_selection\_validation.py:696: UserWarning: Scoring failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "C:\Users\choidi\anaconda3\envs\Gisa\lib\site-packages\sklearn\model_selection\_validation.py", line 687, in _score
    scores = scorer(estimator, X_test, y_test)
  File "C:\Users\choidi\anaconda3\envs\Gisa\lib\site-packages\sklearn\metrics\_scorer.py", line 199, in __call__
    return self._score(partial(_cached_call, None), estimator, X, y_true,
  File "C:\Users\choidi\anaconda3\envs\Gisa\lib\site-packages\sklearn\metrics\_scorer.py", line 328, in _score
    raise ValueError("{0} format is not supported".format(y_type))
ValueError: multiclass format is not supported

  warnings.warn(
C:\Users\choidi\anaconda3\envs\Gisa\lib\site-packages\sklearn\model_selection\_validation.py:696: UserWarning: Scoring failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "C:\Users\choidi\anaconda3\envs\Gisa\lib\site-packages\sklearn\model_selection\_validation.py", line 687, in _score
    scores = scorer(estimator, X_test, y_test)
  File "C:\Users\choidi\anaconda3\envs\Gisa\lib\site-packages\sklearn\metrics\_scorer.py", line 199, in __call__
    return self._score(partial(_cached_call, None), estimator, X, y_true,
  File "C:\Users\choidi\anaconda3\envs\Gisa\lib\site-packages\sklearn\metrics\_scorer.py", line 328, in _score
    raise ValueError("{0} format is not supported".format(y_type))
ValueError: multiclass format is not supported

  warnings.warn(
C:\Users\choidi\anaconda3\envs\Gisa\lib\site-packages\sklearn\model_selection\_validation.py:696: UserWarning: Scoring failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "C:\Users\choidi\anaconda3\envs\Gisa\lib\site-packages\sklearn\model_selection\_validation.py", line 687, in _score
    scores = scorer(estimator, X_test, y_test)
  File "C:\Users\choidi\anaconda3\envs\Gisa\lib\site-packages\sklearn\metrics\_scorer.py", line 199, in __call__
    return self._score(partial(_cached_call, None), estimator, X, y_true,
  File "C:\Users\choidi\anaconda3\envs\Gisa\lib\site-packages\sklearn\metrics\_scorer.py", line 328, in _score
    raise ValueError("{0} format is not supported".format(y_type))
ValueError: multiclass format is not supported

  warnings.warn(
C:\Users\choidi\anaconda3\envs\Gisa\lib\site-packages\sklearn\model_selection\_validation.py:696: UserWarning: Scoring failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "C:\Users\choidi\anaconda3\envs\Gisa\lib\site-packages\sklearn\model_selection\_validation.py", line 687, in _score
    scores = scorer(estimator, X_test, y_test)
  File "C:\Users\choidi\anaconda3\envs\Gisa\lib\site-packages\sklearn\metrics\_scorer.py", line 199, in __call__
    return self._score(partial(_cached_call, None), estimator, X, y_true,
  File "C:\Users\choidi\anaconda3\envs\Gisa\lib\site-packages\sklearn\metrics\_scorer.py", line 328, in _score
    raise ValueError("{0} format is not supported".format(y_type))
ValueError: multiclass format is not supported

  warnings.warn(
C:\Users\choidi\anaconda3\envs\Gisa\lib\site-packages\sklearn\model_selection\_validation.py:696: UserWarning: Scoring failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "C:\Users\choidi\anaconda3\envs\Gisa\lib\site-packages\sklearn\model_selection\_validation.py", line 687, in _score
    scores = scorer(estimator, X_test, y_test)
  File "C:\Users\choidi\anaconda3\envs\Gisa\lib\site-packages\sklearn\metrics\_scorer.py", line 199, in __call__
    return self._score(partial(_cached_call, None), estimator, X, y_true,
  File "C:\Users\choidi\anaconda3\envs\Gisa\lib\site-packages\sklearn\metrics\_scorer.py", line 328, in _score
    raise ValueError("{0} format is not supported".format(y_type))
ValueError: multiclass format is not supported

  warnings.warn(
C:\Users\choidi\anaconda3\envs\Gisa\lib\site-packages\sklearn\model_selection\_search.py:922: UserWarning: One or more of the test scores are non-finite: [nan nan nan nan]
  warnings.warn(

## Voting

In [27]:
from sklearn.ensemble import VotingClassifier
final_clf=VotingClassifier(estimators=[('RF', best_rf_clf), ('GB', best_gb_clf)], voting='soft', n_jobs=4)

In [28]:
voting=final_clf.fit(X_train, y_train)

In [29]:
pred_y_0=pd.Series(voting.predict_proba(X_test)[:,0], name='pred_y_0')
pred_y_1=pd.Series(voting.predict_proba(X_test)[:,1], name='pred_y_1')
pred_y_2=pd.Series(voting.predict_proba(X_test)[:,2], name='pred_y_2')
pred_y_3=pd.Series(voting.predict_proba(X_test)[:,3], name='pred_y_3')

In [30]:
results=pd.concat([pred_y_0, pred_y_1, pred_y_2, pred_y_3], axis=1)
results.index=X_test.index
results

       pred_y_0  pred_y_1  pred_y_2  pred_y_3
6638   0.037564  0.854990  0.066874  0.040571
7975   0.051034  0.822097  0.072340  0.054529
5915   0.066911  0.817001  0.067862  0.048226
8050   0.005599  0.050984  0.221758  0.721659
5894   0.044795  0.162231  0.675282  0.117692
...         ...       ...       ...       ...
5521   0.995094  0.003491  0.000979  0.000436
10626  0.993233  0.004915  0.001192  0.000659
8126   0.927485  0.050250  0.014453  0.007812
1633   0.976636  0.019156  0.003120  0.001088
6198   0.113219  0.820609  0.043335  0.022837

[3266 rows x 4 columns]

In [31]:
final=pd.concat([results, y_test], axis=1)

In [32]:
final.head(30)

       pred_y_0  pred_y_1  pred_y_2  pred_y_3    y
6638   0.037564  0.854990  0.066874  0.040571  1.0
7975   0.051034  0.822097  0.072340  0.054529  1.0
5915   0.066911  0.817001  0.067862  0.048226  1.0
8050   0.005599  0.050984  0.221758  0.721659  3.0
5894   0.044795  0.162231  0.675282  0.117692  2.0
1466   0.960933  0.032390  0.005053  0.001624  0.0
10710  0.037882  0.164749  0.706029  0.091340  2.0
5138   0.996978  0.002466  0.000381  0.000175  0.0
1726   0.777521  0.182754  0.029704  0.010022  0.0
3943   0.025151  0.142917  0.706770  0.125162  2.0
1656   0.899514  0.083716  0.012270  0.004501  0.0
5168   0.931915  0.048683  0.014869  0.004533  0.0
1550   0.176707  0.761217  0.051718  0.010358  1.0
5742   0.730963  0.249755  0.012349  0.006933  0.0
154    0.133084  0.828930  0.027914  0.010072  1.0
2182   0.058707  0.752890  0.149290  0.039112  1.0
7921   0.006380  0.062509  0.743060  0.188051  2.0
9597   0.804648  0.147762  0.025888  0.021702  0.0
8605   0.945243  0.040976  0.011105  0.002676  0.0
7603   0.995940  0.003253  0.000586  0.000222  0.0
6239   0.992708  0.005100  0.001385  0.000808  0.0
8695   0.007092  0.063297  0.308589  0.621023  2.0
7503   0.868963  0.105105  0.017301  0.008630  0.0
2378   0.993409  0.004350  0.001899  0.000342  0.0
2263   0.983431  0.012023  0.001999  0.002547  0.0
1599   0.863062  0.104576  0.023150  0.009212  0.0
5629   0.957608  0.032842  0.006123  0.003428  0.0
10346  0.028493  0.598781  0.282904  0.089822  1.0
10046  0.729059  0.239213  0.022451  0.009278  0.0
8114   0.834293  0.117214  0.028143  0.020350  0.0

나름대로 잘 분류가 되었다

In [ ]:
results.to_csv('final.csv', index=False)